/* 常用格式属性 */
/* 
    单位
        相对单位
            %
            em : 父元素设置的字体大小
            rem : 根元素(html)设置的字体大小
        绝对单位
            px : 像素
            cm mm in : 厘米 毫米 英寸
    移动端适合使用相对单位，便于适配多种型号

    元素尺寸小数问题
        1. 元素在文档流中占有的具体尺寸仍是原来的小数，但渲染出来的展示尺寸是四舍五入后的整数尺寸
        2. 渲染时舍去的尺寸增加到后一个元素上，渲染时增加的尺寸从后一个元素中扣除

        比如一堆0.8px的元素
        第一个元素：实际尺寸0.8，渲染尺寸1，从后一个元素扣除0.2
        第二个元素：实际尺寸0.8(-0.2)，渲染尺寸1，从后一个元素扣除0.4
        第三个元素：实际尺寸0.8(-0.4)，渲染尺寸0，向后一个元素增加0.4
        第四个元素：实际尺寸0.8(+0.4)，渲染尺寸1，向后一个元素增加0.2
        。。。

*/

/* 
    字体属性
        color
        font-family : 字体种类
            font-family: "Trebuchet MS", Verdana, sans-serif;   可以提供一个字体栈，浏览器会依次进行尝试，选择支持的字体
        font-size
            px : 像素，绝对大小
            em : 1em = 父元素设置的字体大小
            rem : 1rem = 根元素(html)设置的字体大小
        font-style  字体倾斜
            normal  italic/oblique
        font-weight 字体加粗
            normal, bold
            lighter, bolder     与父元素加粗字体比更细/粗
        text-transform  字体转型
            none     防止任何转型。
            uppercase/lowercase     将所有文本转为大/小写
            capitalize              转换所有单词让其首字母大写
            full-width          将所有字形转换成全角，
        text-decoration     文本划线
            none    underline/overline  文本下/上划线       line-through    穿过文本的线
        text-shadow     文本阴影
        
        text-align      文本对齐
            left、right、center
        
        line-height     行间距，一般1.5~2之间
        letter-spacing  字母间距     word-spacing   单词间距

*/


/* 
    列表属性
        list-style-type     列表的项目符号的类型
            disc 实心圆点(默认值)   circle 空心圆点    square 实心方块    decimal 十进制阿拉伯数字
        list-style-position     项目符号是出现在列表项内，还是出现在其外
            outside(默认值)     inside
        list-style-image        属性允许对于项目符号使用自定义图片
            list-style-image: url(star.svg);

        管理计数项属性
            start="n"   列表编号从n开始
            reversed    列表编号倒序
            value       为某个列表项设置编号


        <ol start="4" reversed>
            <li>Toast pitta, leave to cool, then slice down the edge.</li>
            <li>Fry the halloumi in a shallow, non-stick pan, until browned on both sides.</li>
            <li>Wash and chop the salad.</li>
            <li>Fill pitta with salad, humous, and fried halloumi.</li>
        </ol>

        <ol>
            <li value="2">Toast pitta, leave to cool, then slice down the edge.</li>
            <li value="4">Fry the halloumi in a shallow, non-stick pan, until browned on both sides.</li>
            <li value="6">Wash and chop the salad.</li>
            <li value="8">Fill pitta with salad, humous, and fried halloumi.</li>
        </ol>

*/

/* 
    元素水平居中
        1. margin: auto;    margin:0 auto;       自动计算外边距，必须设置width属性才能生效
        2. text-align: center;      设置元素内文本水平居中  


    
    元素垂直居中
        1. padding: xpx 0;  这样块内元素上下内边距都是xpx，达到垂直居中的效果


    垂直水平居中
        1. 使用内外边距实现
            margin:0 auto;      自动计算外边距，水平居中，必须设置width属性才能生效
            使用position，然后计算元素所属位置
        2. 设置父元素为flex
            display : flex;
            justify-content : center;
            align-items : center;

*/


/* 
    动画
        1. 使元素从一种样式逐渐变化为另一种样式的效果
        2. 用百分比来规定变化发生的时间，或用关键词 "from" 和 "to"，等同于 0% 和 100%
        3. 关键字
            @keyframes : 创建动画
            animation : 动画属性的简写
                animation-name : 选择动画名称
                animation-duration : 动画持续时间
                ...
*/


@keyframes myfirst1
{
    from {background: red;}
    to {background: yellow;}
}

@keyframes myfirst2
{
    0%   {background: red; left:0px; top:0px;}
    25%  {background: yellow; left:200px; top:0px;}
    50%  {background: blue; left:200px; top:200px;}
    75%  {background: green; left:0px; top:200px;}
    100% {background: red; left:0px; top:0px;}
}


/* 选择动画，并设置动画总时间 */
div {
    animation: myfirst1 5s;     
}

div {
    animation-name: myfirst;
    animation-duration: 5s;   
}